@(maVariable: String, test1: Integer, test3: Long)

@main("Welcome to Play") {
  <h1>Ceci est une page test!!</h1>
   <h3>ma variable string est : @maVariable</h3>
   <h2>la deuxcieme variable integer est: @test1</h2>
   <h2>la troisieme variable Long est: @test3</h2>
}
