@(personne: services.Personne,listesP: List[services.Personne], nbr1: Integer, nbr2: Integer)

@main("Afficher personne") {
<h1>Les informations recuperer sont :</h1><br>
  <h1>Nom: @personne.getName()</h1>
  <h1>Prenom: @personne.getPrenom()</h1>
  <h1>Age: @personne.getAge()</h1>
  
  
  <h1>Listes des personnes enregistrer :</h1><br>
  
  <table border="1" >
				<center><h4> <b>L</b>istes des Personnes<br></center>
					<thead>
						 <tr>
							<th style="text-align: center;size: 20px"><b>Numero</b></th>
							<th style="text-align: center"><b>Nom</b></th>
							<th style="text-align: center"><b>Prenom</b></th>
							<th style="text-align: center"><b>Age</b></th>
						 </tr>
					 </thead>
					 <tbody>
  					@for(p <- listesP){
							 <tr>
							    <td># </td>
								<td>@p.getName() </td>
								<td>@p.getPrenom() </td>
								<td>@p.getAge() </td>
							</tr>
  					}
  					</tbody>
  				</table>
  <br>
  <h1>Operations mathematiques</h1>
  <h2>addition : @(nbr1 + nbr2)</h2>
  <h2>soustraction : @(nbr1 - nbr2)</h2>
  
<!--   <h1>Comparaison: @if(nbr1 > nbr2){ -->
<!--   					le nombre1 est superieure au nbr2 -->
<!--   					} else { -->
<!--   							le nbr1 est inferieur au nbr2 -->
<!--   							}</h1> -->
}
